* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #111111;
    color: #f9f9f9;
}

#__next {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@import "./home.scss";
@import "./cardAudio.scss";
@import "./questionCard.scss";
