.iw_cardAudio {
    background: #8346fe;
    border-radius: 10px;
    padding: 10px;
    color: #f9f9f9;

    .iws_userInfo {
        display: flex;
        align-items: center;
        font-size: 22px;
        margin-bottom: 20px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 1000px;
            object-fit: cover;
            object-position: center;
            margin-right: 8px;
        }

        h5 {
            span {
                color: #ccc;
                font-size: 14px;
            }
        }
    }

    .iws_reproductor {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .iws_playBtn {
            font-size: 20px;
            background: #f9f9f9;
            color: #8346fe;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
            cursor: pointer;
            transition-property: transform;
            transition-duration: 0.3s;
            margin-right: 10px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .iws_soundWave {
            display: flex;
            align-items: center;
            height: 50px;
            position: relative;

            .iws_soundWaveProgress {
                position: absolute;
                width: 0%;
                left: 0;
                top: 0;
                bottom: 0;
                background: rgba(131, 70, 254, 0.5);
                transition-property: width;
                transition-duration: 0.01ms;
            }

            span {
                margin-right: 5px;
                background: #f9f9f9;
                width: 5px;
                border-radius: 1000px;
            }
        }
    }

    .iws_time {
        display: flex;
        color: #ccc;
    }
}
